tipos-variaveis/.vscode/settings.json
tipos-variaveis/bin/TiposVariaveis.class
tipos-operadores/tipoOperadores/.vscode/settings.json
tipos-operadores/.vscode/settings.json
tipos-operadores/bin/TiposOperadores.class
